h1{
    font-size: 30pt;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
     background-color: cadetblue;
     text-align: left;
}

body{
    background-image: url("chef.webp");
    background-color: peachpuff;

}
.head{
    text-align: center;
    color: white;
    background-color: cadetblue;
    font-size: 40pt;
}

.image{
    height: auto;
    width: 250px;
    padding-top: 40px;
}